<header>
    
    <div class="top-bar">
      <div class="contact-info">
        <span><i class="fa fa-phone"></i> +1234567890</span>
        <span><i class="fa fa-envelope"></i> mahilabachatgat&#64;gmail.com</span>
      </div>
      
    </div>
  
   
    <div class="middle-navbar">
      <div class="logo">LOGO</div>
      <div class="location">
        <input type="text" placeholder="Select Delivery Location">
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search For Product...">
      </div>
  
      <div class="language-selector">
        <button>मराठी</button>
      </div>
     
    </div>
  
    <nav class="main-nav">
      <ul>
        <li>Home</li>
        <li routerLink="categories">Categories </li>
        <li routerLink="products">View Products</li>
        <li routerLink="login">Login </li>
        <li routerLink="rentals">Rentals</li>
      </ul>
  
      <div class="user-options">
        <span><i class="bi bi-heart"></i> Wishlist</span>
        <span><i class="bi bi-cart"></i>Cart</span>
        <span><i class="bi bi-person-circle"></i> Profile</span>
        <button class="login-btn">LOGIN</button>
      </div>
    </nav>
  </header>