<section class="rental-section">
    <div class="rentalBackground">
      <h1>Rentals</h1> 
  
    </div>
    
    <div class="rental-container">
      <div class="rental-card">
        <div class="card-content">
          
          <div class="card-label green">
            <img src="https://img.freepik.com/premium-photo/beautiful-indian-girl-silk-saree-white-background_878783-20147.jpg" alt="Clothes & Costumes" />
            <h2>Clothes & Costumes</h2>
          </div>
        </div>
      </div>
      
      <div class="rental-card">
        <div class="card-content">
          
          <div class="card-label yellow">
            <img src="https://w7.pngwing.com/pngs/933/462/png-transparent-women-s-gold-colored-jewelry-set-jewellery-earring-jewelry-design-gold-durga-maa-miscellaneous-ring-diamond-thumbnail.png" alt="Jewellery" />
            <h2>Jewellery</h2>
          </div>
        </div>
      </div>
    </div>
  </section>