<!-- <section class="category-section">
    <h1>Shop By Categories</h1>
    <div class="card-container">
      <div class="card" style="background-image: url('https://5.imimg.com/data5/SELLER/Default/2020/10/PK/RI/AH/105462405/homemade-food.jpeg');">
        <div class="card-overlay">
          <h2>Homemade Food Products</h2>
          <button>Shop Now</button>
        </div>
      </div>
  
      <div class="card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIilkh0qtli64ZnhLJsiVXjJUEwmKi0q9wBg&s');">
        <div class="card-overlay">
          <h2>Sewing Cloths are Available</h2>
          <button>Shop Now</button>
        </div>
      </div>
  
      <div class="card" style="background-image: url('https://zoozle.in/_next/image?url=https%3A%2F%2Fcdn.zoozle.in%2Fv3%2Fecom%2Fproduct%2Fvariant%2FE61C8F8EBCA542649415F4CA489E23FD.webp&w=1080&q=75'); background-size: cover;">
        <div class="card-overlay">
          <h2>Home Decors Products Available</h2>
          <button>Shop Now</button>
        </div>
      </div>
  
      <div class="card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbo3aJPGjc_W3UoGB1Bw-uALh00XOjKiTdpA&s');">
        <div class="card-overlay">
          <h2>Festival Cloths are Available on Rent</h2>
          <button>Shop Now</button>
        </div>
      </div>
    </div>
  </section> -->


  <section class="category-section">
    <h1>Shop By Categories</h1>
    <div class="card-container">
      <div *ngFor="let category of categories" class="card" [ngStyle]="{'background-image': 'url(' + category.imageUrl + ')', 'background-size': 'cover'}">
        <div class="card-overlay">
          <h2>{{ category.name }}</h2>
          <button>Shop Now</button>
        </div>
      </div>
    </div>
  </section>
  
  <section class="container">
    <h1>What Do You Looking For</h1>
    <div class="categories">
      <div class="category">
        <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcS8POgLe0qU3keqSdPxPRglp1xk6e7-KB8SoZARf4sK7OVGtH7cPo0H6KTcxuWlwG8TaMAOy9X0kGU4k_w_L1QmxcIo-Q0GMA&usqp=CAE" alt="Milk Products">
        <p>Milk Products</p>
      </div>
      <div class="category">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1ofUX_s-9rD6FRzTBMkNwf4o9XM8zHGI7MA&s" alt="Sweets">
        <p>Sweets</p>
      </div>
      <div class="category">
        <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSz9Y_OYSfgmiVZdSCa170Yk2_JY6JtSSiF5Lervsr9TNw5NChYksLUDxL2fhMyJ0LWtsfl17fXrIqtrRRX3MfW15GQaS89GTl39AXwfDydFEcHJKyfLu4e5g&usqp=CAE" alt="Spices">
        <p>Spices</p>
      </div>
      <div class="category">
        <img src="https://twobrothersindiashop.com/cdn/shop/articles/Untitled_design_2_c2613306-8bfa-4ef6-aa96-1f9bf7d4c715.png?v=1694174770">
        <p>Pickles & Chutneys</p>
      </div>
      <div class="category">
        <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSbg3PhxMt2jtpLvoTPclwXsvUvV5SVrqa_fVHMiCYxm3VlWdNmOsfvs-65RMjpl51koIH4ZWuwxvQBkOh0ViW6VC5HGeWUaVe3obi6IVCv_9QP7sADoUXZ&usqp=CAE" alt="Fasting Food">
        <p>Fasting Food</p>
      </div>
      <div class="category">
        <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQfCrcQ0dKG4xYKlEH-EQp7s1QHeIQbC73jU0PLQCboxR6-SuVWklcql_hm6jApSpLTK8x9GFKqlqlpWsy5_Qba7Pgx3tnBjjVKx1wvwOtJIB86A9ipG--_vw&usqp=CAE" alt="Namkeens">
        <p>Namkeens</p>
      </div>
      <div class="category">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiwfiJQUJ24ApQ_pDx7Ty4Ykswb6yOiIGG1A&s" alt="Staples">
        <p>Staples</p>
      </div>
    </div>
  </section>