<!-- 


<section class="banner">
  <div class="banner-content">
    <h1>FRESH FOOD</h1>
    <button>VIEW PRODUCTS</button>
  </div>

 

</section>

<div class="features">
  <div class="feature-item">
    <img src="https://img.icons8.com/color/48/natural-food.png" alt="Natural Icon">
    <h3>Natural</h3>
    <p>Consume Local, nature</p>
  </div>
  <div class="feature-item">
    <img src="https://img.icons8.com/color/48/delivery.png" alt="Fast Delivery Icon">
    <h3>Fastest Delivery</h3>
    <p>Delivery at your Door step</p>
  </div>
  <div class="feature-item">
    <img src="https://img.icons8.com/color/48/24-hours.png" alt="24x7 Support Icon">
    <h3>24X7 Support</h3>
    <p>Support Option Including 24x7</p>
  </div>
  <div class="feature-item">
    <img src="https://img.icons8.com/color/48/return.png" alt="Return Product Icon">
    <h3>Return Product</h3>
    <p>Product Return Process</p>
  </div>
</div>

<section class="category-section">
  <h1>Shop By Categories</h1>
  <div class="card-container">
    <div class="card" style="background-image: url('https://5.imimg.com/data5/SELLER/Default/2020/10/PK/RI/AH/105462405/homemade-food.jpeg');">
      <div class="card-overlay">
        <h2>Homemade Food Products</h2>
        <button>Shop Now</button>
      </div>
    </div>

    <div class="card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIilkh0qtli64ZnhLJsiVXjJUEwmKi0q9wBg&s');">
      <div class="card-overlay">
        <h2>Sewing Cloths are Available</h2>
        <button>Shop Now</button>
      </div>
    </div>

    <div class="card" style="background-image: url('https://zoozle.in/_next/image?url=https%3A%2F%2Fcdn.zoozle.in%2Fv3%2Fecom%2Fproduct%2Fvariant%2FE61C8F8EBCA542649415F4CA489E23FD.webp&w=1080&q=75'); background-size: cover;">
      <div class="card-overlay">
        <h2>Home Decors Products Available</h2>
        <button>Shop Now</button>
      </div>
    </div>

    <div class="card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbo3aJPGjc_W3UoGB1Bw-uALh00XOjKiTdpA&s');">
      <div class="card-overlay">
        <h2>Festival Cloths are Available on Rent</h2>
        <button>Shop Now</button>
      </div>
    </div>
  </div>
</section>


<section class="container">
  <h1>What Do You Looking For</h1>
  <div class="categories">
    <div class="category">
      <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcS8POgLe0qU3keqSdPxPRglp1xk6e7-KB8SoZARf4sK7OVGtH7cPo0H6KTcxuWlwG8TaMAOy9X0kGU4k_w_L1QmxcIo-Q0GMA&usqp=CAE" alt="Milk Products">
      <p>Milk Products</p>
    </div>
    <div class="category">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1ofUX_s-9rD6FRzTBMkNwf4o9XM8zHGI7MA&s" alt="Sweets">
      <p>Sweets</p>
    </div>
    <div class="category">
      <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSz9Y_OYSfgmiVZdSCa170Yk2_JY6JtSSiF5Lervsr9TNw5NChYksLUDxL2fhMyJ0LWtsfl17fXrIqtrRRX3MfW15GQaS89GTl39AXwfDydFEcHJKyfLu4e5g&usqp=CAE" alt="Spices">
      <p>Spices</p>
    </div>
    <div class="category">
      <img src="https://twobrothersindiashop.com/cdn/shop/articles/Untitled_design_2_c2613306-8bfa-4ef6-aa96-1f9bf7d4c715.png?v=1694174770">
      <p>Pickles & Chutneys</p>
    </div>
    <div class="category">
      <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSbg3PhxMt2jtpLvoTPclwXsvUvV5SVrqa_fVHMiCYxm3VlWdNmOsfvs-65RMjpl51koIH4ZWuwxvQBkOh0ViW6VC5HGeWUaVe3obi6IVCv_9QP7sADoUXZ&usqp=CAE" alt="Fasting Food">
      <p>Fasting Food</p>
    </div>
    <div class="category">
      <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQfCrcQ0dKG4xYKlEH-EQp7s1QHeIQbC73jU0PLQCboxR6-SuVWklcql_hm6jApSpLTK8x9GFKqlqlpWsy5_Qba7Pgx3tnBjjVKx1wvwOtJIB86A9ipG--_vw&usqp=CAE" alt="Namkeens">
      <p>Namkeens</p>
    </div>
    <div class="category">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiwfiJQUJ24ApQ_pDx7Ty4Ykswb6yOiIGG1A&s" alt="Staples">
      <p>Staples</p>
    </div>
  </div>
</section>


<section class="rental-section">
  <div class="rentalBackground">
    <h1>Rentals</h1> 

  </div>
  
  <div class="rental-container">
    <div class="rental-card">
      <div class="card-content">
        
        <div class="card-label green">
          <img src="https://img.freepik.com/premium-photo/beautiful-indian-girl-silk-saree-white-background_878783-20147.jpg" alt="Clothes & Costumes" />
          <h2>Clothes & Costumes</h2>
        </div>
      </div>
    </div>
    
    <div class="rental-card">
      <div class="card-content">
        
        <div class="card-label yellow">
          <img src="https://w7.pngwing.com/pngs/933/462/png-transparent-women-s-gold-colored-jewelry-set-jewellery-earring-jewelry-design-gold-durga-maa-miscellaneous-ring-diamond-thumbnail.png" alt="Jewellery" />
          <h2>Jewellery</h2>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="featured-products">
  <h2>Featured Products</h2>
  <div class="product-grid">
   
    <div class="product-card">
      <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTS_5iK-8p6RtiPDCY_PT6IyIcovURTQn2R9GGB9zd-i4OgYogdFOMouLaIziRniyW5WWGOkO9k0swUvcUikskujAeyoVy6_W9puqWgAU8&usqp=CAE" 
           alt="Handmade Printed Flowerpots" />
      <div class="product-info">
        <h6>Handmade Printed Flowerpots</h6>
        <p>₹ 200.00</p>
        <button>Add to cart</button>
      </div>
      <div class="favorite">
        <i class="bi bi-heart"></i>
      </div>
    </div>

   
    <div class="product-card">
      <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcT0LhkLKPmcLLd_grDDEu2ptj3oivMWJnduS_60dkuiI4VinnWHFODIqeVBp9_DlvSjBCq00dEbhndne3Xtgmm1oTSNImmRp1DnreONdiUWFxeq4E7gtJL2&usqp=CAE" 
           alt="Potato Chips" />
      <div class="product-info">
        <h6>Plane Salted Fasting Potato Chips <span>100 gm</span></h6>
        <p>₹ 60.00</p>
        <button>Add to cart</button>
      </div>
      <div class="favorite">
        <i class="bi bi-heart"></i>
      </div>
    </div>

   
    <div class="product-card">
      <div>
        <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRXrJkpyllFHn00r0oY4P5LFcs7LV44fRyxZj6RjSxgB_BBIfwKWsn2SV7Jz8DdPQcmqNBUGV0sgZYYvJGAfivYlSGC4tOSBMluXhcupFo&usqp=CAE" 
        alt="Handloom Saree" />
      </div>
     
      <div class="product-info">
        <h6>Handloom saree for women</h6>
        <p>₹ 499.00</p>
        <button>Add to cart</button>
      </div>
      <div class="favorite">
        <i class="bi bi-heart"></i>
      </div>
    </div>

   
    <div class="product-card">
      <div>
        <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTzlLVztEmgQveiVkP-UBjsFaQqpNNpzWRilRt66ezlvp4AU8W2vkiFdce-sx7GQD6I5Uvo8sdxqS1J_RrQWTwrKFWW0xk8eXal7WJh9TEtcx4XD4BnXQiY-A&usqp=CAE" 
           alt="Pink Flower Jewellery" />
      </div>
      
      <div class="product-info">
        <h6>Pink flower jewellery</h6>
        <p>Rent: ₹ 500.00</p>
        <button>Add to cart</button>
      </div>
      <div class="favorite">
        <i class="bi bi-heart"></i>
      </div>
    </div>
  </div>
</section>

<section class="festival-banner">
  <div class="banner-content">
    <h1>Special Festival Foods</h1>
    <p>Here are some food items that are special for Indian festivals</p>
    <button>View Products</button>
  </div>

 
  <div class="decorative-images">
    <img class="food-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFwDRlzp9FofsYYRawKZDh_8TL_aE2pqCRTw&s" alt="Festival Thali" />
    <img class="food-2" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSRs6-vaWB4jfZcHIBpL2GlqNLeaX4aqbAjurpCl7a3daaZQICzDg3gXMRp_zmKNujdcawsD5yiboSHMyFAENWdNXQIL0vMaR2PPTjSF0DkjAtpD400tRFF&usqp=CAE" alt="Chakali" />
    <img class="food-3" src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQOPZefYXq9f8fCvdVpc5swxVsaJBCVK5IWHIU5dBUhrMDutrZgvvKfWcwu3854OmzF8oodLGd_GjkeUpwaB5O3H0m19MIfaNSlXEozFVW7&usqp=CAE" alt="Laddoos" />
    <img class="food-4" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRWc0Gwem5B58tnjQ7s1r095Vk1kaU3eAZ_VNVl2TqU3OlQ9nxVhc9tLWDmXOJweqniyOX295Nnebc-v3YX_0LrWVhWuviQAA&usqp=CAE" alt="Karanji" />
  </div>
</section>


<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h2 class="logo">LOGO</h2>
      <p>mahilabachatgat&#64;gmail.com</p>
    </div>
    <div class="footer-section">
      <h4>Information</h4>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Payment Method</a></li>
        <li><a href="#">Delivery Information</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Useful Links</h4>
      <ul>
        <li><a href="#">Shipping Method</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Condition</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Categories</h4>
      <ul>
        <li><a href="#">Food</a></li>
        <li><a href="#">Clothes</a></li>
        <li><a href="#">Home Decors</a></li>
        <li><a href="#">Rentals</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Contact</h4>
      <p>Pune, Maharashtra, India</p>
      <p>+91-1234567890</p>
      <h4>Social</h4>
      <div class="social-icons">
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-facebook"></i></a>
      </div>
    </div>
  </div>
</footer>




<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

 -->

 <router-outlet></router-outlet>
