<app-header></app-header>
<app-banner></app-banner>
<app-category-section></app-category-section>
<app-rentals></app-rentals>
<app-product-cards></app-product-cards>


<section class="festival-banner">
    <div class="banner-content">
      <h1>Special Festival Foods</h1>
      <p>Here are some food items that are special for Indian festivals</p>
      <button>View Products</button>
    </div>
  
   
    <div class="decorative-images">
      <img class="food-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFwDRlzp9FofsYYRawKZDh_8TL_aE2pqCRTw&s" alt="Festival Thali" />
      <img class="food-2" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSRs6-vaWB4jfZcHIBpL2GlqNLeaX4aqbAjurpCl7a3daaZQICzDg3gXMRp_zmKNujdcawsD5yiboSHMyFAENWdNXQIL0vMaR2PPTjSF0DkjAtpD400tRFF&usqp=CAE" alt="Chakali" />
      <img class="food-3" src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQOPZefYXq9f8fCvdVpc5swxVsaJBCVK5IWHIU5dBUhrMDutrZgvvKfWcwu3854OmzF8oodLGd_GjkeUpwaB5O3H0m19MIfaNSlXEozFVW7&usqp=CAE" alt="Laddoos" />
      <img class="food-4" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRWc0Gwem5B58tnjQ7s1r095Vk1kaU3eAZ_VNVl2TqU3OlQ9nxVhc9tLWDmXOJweqniyOX295Nnebc-v3YX_0LrWVhWuviQAA&usqp=CAE" alt="Karanji" />
    </div>
  </section>
  
  
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h2 class="logo">LOGO</h2>
        <p>mahilabachatgat&#64;gmail.com</p>
      </div>
      <div class="footer-section">
        <h4>Information</h4>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">Payment Method</a></li>
          <li><a href="#">Delivery Information</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Shipping Method</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Condition</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Categories</h4>
        <ul>
          <li><a href="#">Food</a></li>
          <li><a href="#">Clothes</a></li>
          <li><a href="#">Home Decors</a></li>
          <li><a href="#">Rentals</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Contact</h4>
        <p>Pune, Maharashtra, India</p>
        <p>+91-1234567890</p>
        <h4>Social</h4>
        <div class="social-icons">
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
        </div>
      </div>
    </div>
  </footer>